body{
    background-image: linear-gradient(#466EE3, #469FE3, #5146E3);
}
.container{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(#466EE3, #469FE3, #5146E3);
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.title{
    font-size: 50px;
    font-weight: bold;
}
.input{
    font-size: 25px;
    width: 50%;
    padding: 1.5%;
    border-radius: 1.5rem;
    border: 2px #ddd solid;
}
.subtitle{
    font-size: 25px;
}
.operations-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 1.5%;
}
.operators{
    color: white;
    background-color: #5146E3;
    font-size: 5vh;
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    border: 2px #466EE3 solid;
}
.result{
    font-size: 25px;
}
@media (max-width: 768px){
    .subtitle{
        font-size: 1.6rem;
    }
    .operations-container{
        display: flex;
        flex-direction: column;
    }
    .operators{
        width: 35vh;
        height: 5vh;
        font-size: 1.8rem;
        border-radius: 1.5rem;
    }
}